---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const exercises = await getCollection("exercises");
  return exercises.map((exercise) => ({
    params: { exercise_id: exercise.data.id },
    props: { exercise },
  }));
}

const { exercise } = Astro.props;
---

<Layout
  title={exercise.data.name}
  description=`Target: ${exercise.data.target}. Target Muscle(s): ${exercise.data.target_muscles}. Instruction: ${exercise.data.instruction}`
  `
>
  <div class="banner">
    <div class="container pt-8 pb-16">
      <h1>{exercise.data.name}</h1>
      <p>
        <b>Target:</b>
        {exercise.data.target}.<br />
        <b>Target Muscle(s):</b>
        {exercise.data.target_muscles}.
      </p>
    </div>
  </div>
  <div class="container pt-8">
    <video autoplay muted loop width={400} height={300} class="mx-auto">
      <source
        src={`/assets/exercises/videos/${exercise.data.id}.mp4`}
        type="video/mp4"
      />
    </video>
    <h2 class="pt-8">Instruction</h2>
    <ul>
      {
        exercise.data.instruction.split(".").map((inst, index) =>
          inst ? (
            <li>
              <b>Step {index + 1}:</b> {inst}.
            </li>
          ) : null
        )
      }
    </ul>
    <h2 class="pt-8">Hints</h2>
    <ul>
      {
        exercise.data.hints
          .split(".")
          .map((hint) => (hint ? <li>{hint}.</li> : null))
      }
    </ul>
  </div>
</Layout>
∏

