---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import type { PaginateFunction } from "astro";
import { Image } from "astro:assets";

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction;
}) {
  const programs = await getCollection("programs");
  return paginate(programs, { pageSize: 12 });
}

const { page } = Astro.props;
---

<Layout title="" description="">
  <div class="banner">
    <div class="container pb-8">
      <h1>Programs</h1>
    </div>
  </div>
  <div class="container">
    <div class="flex flex-row flex-wrap pt-4">
      {
        page.data.map((program) => (
          <div>
            <Image
              src={`/assets/programs/images/${program.id}.jpg`}
              alt={program.data.programName}
              width={1000}
              height={750}
              class="w-full h-auto"
            />
            <p>{program.id}</p>
            <p>{program.data.programType}</p>
            <p>{program.data.programName}</p>
            <p>{program.data.programDescription}</p>
            <p>{program.data.programWeeks}</p>
            <a href={`/programs/${program.id}/`}>link →</a>
          </div>
        ))
      }
    </div>
    {
      page.lastPage === 1 ? null : (
        <div class="flex flex-row justify-center text-center pt-10">
          <div class="w-24">
            {page.currentPage === 1 ? null : (
              <a
                href={
                  page.currentPage === 2
                    ? "/programs"
                    : `/programs/${page.currentPage - 1}/`
                }
              >
                ← Previous
              </a>
            )}
          </div>
          <div class="w-32">
            Page {page.currentPage} / {page.lastPage}
          </div>
          <div class="w-24">
            {page.currentPage === page.lastPage ? null : (
              <a href={`/programs/${page.currentPage + 1}/`}>Next →</a>
            )}
          </div>
        </div>
      )
    }
  </div>
</Layout>
