---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const programs = await getCollection("programs");
  return programs.map((program) => ({
    params: { program_id: program.id },
    props: { program },
  }));
}

const { program } = Astro.props;
---

<Layout
  title={program.data.programName}
  description={program.data.programDescription}
>
  <div>
    <Image
      src={`/assets/programs/images/${program.id}.jpg`}
      alt={program.data.programName}
      width={1000}
      height={750}
    />
    <p>{program.id}</p>
    <p>{program.data.programType}</p>
    <p>{program.data.programName}</p>
    <p>{program.data.programDescription}</p>
    <p>{program.data.programWeeks}</p>
  </div>
</Layout>
