---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import type { PaginateFunction } from "astro";
import { Image } from "astro:assets";

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction;
}) {
  const workouts = await getCollection("workouts");
  return paginate(workouts, { pageSize: 6 });
}

const { page } = Astro.props;
---

<Layout
  title="List of home workouts"
  description="This list of home workouts without equipment can be done daily anytime, anywhere. Even if you travel for work, if you have 7 minutes and some space to stretch out, then you can workout."
>
  <div class="container">
    <h1>Home Workouts</h1>
    {
      page.lastPage === 1 ? null : (
        <>
          Page {page.currentPage} / {page.lastPage}
        </>
      )
    }
    <p>
      This list of workouts without equipment can be done daily anytime,
      anywhere. Even if you travel for work, if you have 7 minutes and some
      space to stretch out, then you can workout.
    </p>
    <div class="flex flex-row flex-wrap pt-8 justify-start">
      {
        page.data.map((workout) => (
          <div class="flex-col w-full md:w-1/2 pr-8 mb-8">
            <Image
              src={`/assets/workouts/images/${workout.data.id}.jpg`}
              alt={workout.data.name}
              width={800}
              height={600}
              class="mx-auto rounded-lg"
            />
            <a href={`/workouts/${workout.data.id}/`}>
              <p class="pr-4 pb-4 rounded-b-lg">
                <b>{workout.data.type} →</b>
                <br />
                {workout.data.name}
              </p>
            </a>
          </div>
        ))
      }
    </div>
    {
      page.lastPage === 1 ? null : (
        <div class="flex flex-row justify-center text-center pt-10">
          <div class="w-24">
            {page.currentPage === 1 ? null : (
              <a
                href={
                  page.currentPage === 2
                    ? "/workouts"
                    : `/workouts/${page.currentPage - 1}/`
                }
              >
                ← Previous
              </a>
            )}
          </div>
          <div class="w-32">
            Page {page.currentPage} / {page.lastPage}
          </div>
          <div class="w-24">
            {page.currentPage === page.lastPage ? null : (
              <a href={`/workouts/${page.currentPage + 1}/`}>Next →</a>
            )}
          </div>
        </div>
      )
    }
  </div>
</Layout>
