---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import type { PaginateFunction } from "astro";
import { Image } from "astro:assets";

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction;
}) {
  const workouts = await getCollection("workouts");
  return paginate(workouts, { pageSize: 6 });
}

const { page } = Astro.props;
---

<Layout
  title="List of workouts"
  description="This list of workouts without equipment can be done daily anytime, anywhere. Even if you travel for work, if you have some space to stretch out, then you can workout."
>
  <div class="banner">
    <div class="container pt-8 pb-16">
      <h1>Workouts</h1>
      {
        page.lastPage === 1 ? null : (
          <>
            Page {page.currentPage} / {page.lastPage}
          </>
        )
      }
    </div>
  </div>
  <div class="container">
    <div class="flex flex-row flex-wrap pt-8 justify-center">
      {
        page.data.map((workout) => (
          <div class="flex-col w-full md:w-1/2 px-4 mb-8">
            <a href={`/workouts/${workout.data.id}/`}>
              <Image
                src={`/assets/workouts/images/${workout.data.id}.jpg`}
                alt={workout.data.name}
                width={800}
                height={600}
                class="mx-auto rounded-t-lg"
              />
              <p class="text-center banner pb-4 rounded-b-lg">
                <b>{workout.data.type} →</b>
                <br />
                {workout.data.name}
              </p>
            </a>
          </div>
        ))
      }
    </div>
    {
      page.lastPage === 1 ? null : (
        <div class="flex flex-row justify-center text-center pt-10">
          <div class="w-24">
            {page.currentPage === 1 ? null : (
              <a
                href={
                  page.currentPage === 2
                    ? "/workouts"
                    : `/workouts/${page.currentPage - 1}/`
                }
              >
                ← Previous
              </a>
            )}
          </div>
          <div class="w-32">
            Page {page.currentPage} / {page.lastPage}
          </div>
          <div class="w-24">
            {page.currentPage === page.lastPage ? null : (
              <a href={`/workouts/${page.currentPage + 1}/`}>Next →</a>
            )}
          </div>
        </div>
      )
    }
  </div>
</Layout>
