---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Workout from "../../components/Workout";

export async function getStaticPaths() {
  const workouts = await getCollection("workouts");
  const exercises = await getCollection("exercises");
  return workouts.map((workout) => ({
    params: { workout_id: workout.id },
    props: { workout, exercises },
  }));
}

const { workout, exercises } = Astro.props;
---

<Layout title={workout.data.name} description={workout.data.description}>
  <div class="container">
    <div class="h-[150px] overflow-hidden">
      <Image
        src={`/assets/workouts/images/${workout.id}.jpg`}
        alt={workout.data.name}
        width={1000}
        height={750}
        class="relative -top-[100px] sm:-top-[150px] md:-top-[200px] lg:-top-[250px] mx-auto"
      />
    </div>
    <div class="h-[75px] banner px-4 z-10">
      <p><b>{workout.data.type}</b><br />{workout.data.name}</p>
    </div>
  </div>
  <div class="container">
    <p>{workout.data.description}</p>
    <Workout workout={workout} exercises={exercises} client:load />
  </div>
</Layout>
