---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import Workout from "../../components/Workout";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const workouts = await getCollection("workouts");
  const exercises = await getCollection("exercises");
  return workouts.map((workout) => ({
    params: { workout_id: workout.data.id },
    props: { workout, exercises },
  }));
}

const { workout, exercises } = Astro.props;
const bgImg = `url("/assets/workouts/images/${workout.data.id}.jpg")`;
---

<Layout title={workout.data.name} description={workout.data.description}>
  <div
    class="banner"
    style=`background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("/assets/workouts/images/${workout.data.id}.jpg");
           background-repeat: no-repeat;
           background-position: center center;
           background-attachment: fixed;
           background-size: cover;`
  >
    <div class="container pt-8 pb-16">
      <h1>{workout.data.type}</h1>
      <h2>{workout.data.name}</h2>
      <p>{workout.data.description}</p>
    </div>
  </div>
  <div class="container pt-8">
    <Workout workout={workout} exercises={exercises} client:load />
  </div>
</Layout>
